$color-bg: #058cbd;
$color-stem: rgb(45, 210, 231);
$color-stem-dark: darken($color-stem, 4%);
$color-switch: $color-stem;
$transition: 200ms;




.container{
    background: rgb(43, 42, 42);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.on {
    background:radial-gradient(rgb(179, 177, 177),rgb(31, 31, 31));

}

.on .bulb::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    filter: blur(40px);
}

.bulb{
    position: relative;
    width: 60px;
    height: 60px;
    background: #444;
    transform: rotate(-0deg);
    border-radius: 50%;
    left: 8px;
    top: 100px;
    z-index: 2;
}

.on .bulb{
    background: #fff;
    box-shadow: 0 0 50px #fff,
    0 0 100px #fff,
    0 0 200px #fff,
    0 0 250px #fff,
    0 0 300px #fff,
    0 0 400px #fff;
}

.bulb::before{
    content:'';
    position: absolute;
    left: 15.5px;
    top: -40px;
    width: 25px;
    height: 30px;
    background: #444;
    border-top: 25px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.on .bulb::before{
    background-color: #fff;
}


.bulb span:nth-child(1){
    position: absolute;
    top: -10px;
    left: -1.5px;
    display: block;
    width: 20px;
    height: 20px;
    background: transparent;
    transform: rotate(339deg);
    border-bottom-right-radius: 40px;
    box-shadow: 10px 10px 0 5px #444;
}


.on span:nth-child(1){
    box-shadow: 10px 10px 0 5px #fff;
}

.bulb span:nth-child(2){
    position: absolute;
    top: -10px;
    right: 1.5px;
    display: block;
    width: 20px;
    height: 20px;
    background: transparent;
    transform: rotate(101deg);
    border-bottom-right-radius: 40px;
    box-shadow: 10px 10px 0 5px #444;
}
.on span:nth-child(2){
    box-shadow: 10px 10px 0 5px #fff;
}


.wire{
    position: absolute;
    left: calc(50% + 2px);
    top: 0px;
    width: 4px;
    height: 10vh;
    background-color: black;
    z-index: 1;
}

.bulb_switch{
    position: absolute;
    bottom: 50px;
    right: 50px;
    width:80px;
    height:80px;
    background: linear-gradient(#eee,#ccc,#eee);
    border: 3px solid #0000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bulb_switch .btn{
    position: relative;
    width: 25px;
    height: 40px;
    background: linear-gradient(#777,#fff,#777);
    border-radius: 6px;
    border: 2px solid #0000;
    cursor: pointer;
}

.bulb_switch .btn::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 85%;
    background: linear-gradient(#fff,#fff);
    border-radius: 4px;
}

.jhandi{
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0.2;
}

.on .jhandi{
    opacity: 1;
}

.bday_text{
    position: absolute;
    width: 100%;
    left: 0;
    top: 10px;
    
}

.bday_text{
    opacity: 0.2;
}

.on .bday_text{
    opacity: 1;
}

.switch-holder{
    position: fixed;
    bottom: 20px;
    left: 0;
    border-radius: 0 10px 10px 0;
    background:rgb(202, 204, 204);
    width: 100px;
    height: 45px;
}

.switch-holder .hide{
    display: none;
}


.switch {
  z-index: 1;
  width: 40%;
  background: mix($color-switch, $color-bg, 5%);
  transition: background $transition;
  margin: auto;
  
  top: -14px;
  transform: rotate(-90deg);
  border-radius: 2px;
  position: relative;
  &:after {
    content: "";
    display: block;
    padding-top: 180%;
  }
}

.toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 4rem;
  margin: auto;
  transition: all 0.2s;
  border: 0;
  outline: none;
  transform: translate(-50%, -50%);
  cursor: pointer;


  &:before,
  &:after {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2rem;
    height: 2rem;
    box-shadow: 2px 2px 0 2px rgba($color-bg, 0.2);
    background: mix($color-switch, $color-bg, 85%);
  }
  &:before {
    content: "off";
    top: 0;
    left: 0;
    color: #96d8f0;
    background: mix($color-switch, $color-bg, 25%);
  }
  &:after {
    content: "on";
    bottom: 0;
    left: 0;
    color: #ffffff;
    transition: all 0.2s;
    
  }
}

.bday_girl_image{
    position: absolute;
    bottom: -55px;
    opacity: 0.1;
    display: flex;
    justify-content: center;
 
}

.on .bday_girl_image{
    opacity: 1;
}
  
.bday_girl_image img{
    width: 100%;
}


.mainpage_container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.gift_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background:radial-gradient(rgb(139, 1, 19),rgb(31, 3, 3));
    min-height: 100vh;
    padding: 10px 10px 10px 10px ;
    margin-top: 0;
    & h3{
        letter-spacing: 2px;
        font-size: 24px;
        font-family: 'Righteous', cursive;
        line-height: 10px;
       color: rgb(255, 255, 255);
    }

}
.head_underline{
    width: 50px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}



  .scroll-down {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }
  
  .scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  
  .scroll-down:before {
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 6px);
      transform: rotate(-45deg);
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      border: 2px solid white;
      border-width: 0px 0 2px 2px;
  }
  
  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.message_page{
    background-color:#faf1e8;
    min-height: 100vh;
    width: 100%;
}
.bday_card{
    width: 100%;
    height: 100%;
}

.content{
    padding: 10px;
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
    color: rgb(82, 80, 80);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.content p{
    font-family: 'Satisfy', cursive;
    padding: 0 20px 0 20px;
   
    text-align: center;
}